- var current_html = 'index'

include ./includes/head.jade

body(class="#{current_html}")
	.container
		.device
			.screen-background
				.screen
					.apps.clearfix
						a.app(href="in_the_news.html")
							.app-image.in-the-news.checked
							.name In the news
						a.app(href="legislation.html")
							.app-image.legislation
							.name Legislation
						a.app(href="personal_risk_assesment.html")
							.app-image.personal-risk-assesment
							.name Personal Risk Assesment
						a.app(href="cyber_attack.html")
							.app-image.cyber-attack
							.name Cyber Attack
						a.app(href="dos_and_donts.html")
							.app-image.dos-and-donts
							.name Do's & Don't
						a.app(href="about.html")
							.app-image.about.checked
							.name About
						a.app(href="critical-thinking.html")
							.app-image.critical-thinking
							.name Critical Thinking
						a.app(href="file-sharing.html")
							.app-image.file-sharing
							.name File Sharing
						a.app(href="passwords.html")
							.app-image.passwords
							.name Passwords
						a.app(href="phishing.html")
							.app-image.phishing
							.name Phishing

					.logo
					.course-icon

include ./includes/foot.jade