- var current_html = 'personal_risk_assesment'

include ./includes/head.jade

body(class="#{current_html}")
	.container
		.device
			.screen-background
				.screen.animated.zoomIn
					.app-content
						h1 PERSONAL RISK ASSESSMENT
						.questions
							.q1
								.question
									span.fadeIn Are you a senior executive at your company?
								.answer.correct.bounceIn.yes Yes
								.answer.bounceIn.no No
							.q2
								.question
									span Do you use email?
								.answer.correct Yes
								.answer No
							.q3
								.question
									span Do you take physical work files outside the office?
								.answer.correct Yes
								.answer No
							.q4
								.question
									span Do you access your electronic work files from outside the office?
								.answer.correct Yes
								.answer No
							.q5
								.question
									span Do you use online file sharing programs?
								.answer.correct Yes
								.answer No
							.q6
								.question
									span Do you use your personal email account to store work information for easy access
								.answer.correct Yes
								.answer No
							.q7
								.question
									span Do you shop or pay bills online?
								.answer.correct Yes
								.answer No
							.q8
								.question
									span Do you use the internet and email on your phone?
								.answer.correct Yes
								.answer No
							.q9
								.question
									span How many profiles do you maintain on social media? (think Facebook, LinkedIn, Twitter, Instagram etc.)
								.answer.correct Yes
								.answer No
							.q10
								.question
									span Is your data backed up daily or weekly, monthly, or never?
								.answer.correct Yes
								.answer No
						.summary
							.risk-level
								.text Risk level:
								.num
							.score You scored&nbsp;
								span.scored
								| /100 in our risk assessment.<br/>Your risk profile is very high
							.sum-up Virtually everyone carries some risk of cyber security breach or cyber attack. If you’re
								| online, the risk exists. Even if you’re not online, the risk exists. If you use email,
								| chances are you will receive phishing emails prompting you to click on a link or open
								| an attachment that may cause harm. Every time you make a purchase or payment
								| online, you run the risk of exposing your credit card details. That doesn’t mean you
								| need to stop those practices. You just have to use safeguards.
					a.home(href="./")

include ./includes/foot.jade