/*! normalize-scss | MIT/GPLv2 License | bit.ly/normalize-scss */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS and IE text size adjust after device orientation change,
 *    without disabling user zoom.
 */
@import url("https://fonts.googleapis.com/css?family=Source+Serif+Pro:300,400,500,600,700|Source+Sans+Pro:300,400,500,600,700,500italic");
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/**
 * Remove default margin.
 */
body {
  margin: 0;
}

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
   * Address `[hidden]` styling not present in IE 8/9/10.
   */
[hidden] {
  display: none;
}

/**
 * Hide the `template` element in IE 8/9/10/11, Safari, and Firefox < 22.
 */
template {
  display: none;
}

/* Links
   ========================================================================== */
/**
   * Remove the gray background color from active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
 * Improve readability of focused elements when they are also in an
 * active/hover state.
 */
a:active,
a:hover {
  outline: 0;
}

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted;
}

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold;
}

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic;
}

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  /* Set 1 unit of vertical rhythm on the top and bottom margins. */
  margin: 0.75em 0;
}

/**
   * Address styling not present in IE 8/9.
   */
mark {
  background: #ff0;
  color: #000;
}

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Embedded content
   ========================================================================== */
/**
   * Remove border when inside `a` element in IE 8/9/10.
   */
img {
  border: 0;
}

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden;
}

/* Grouping content
   ========================================================================== */
/**
   * Address margin not present in IE 8/9 and Safari.
   */
figure {
  margin: 1.5em 40px;
}

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0;
}

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto;
}

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 * 4. Address `font-family` inconsistency between `textarea` and other form in IE 7
 * 5. Improve appearance and consistency with IE 6/7.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */
}

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible;
}

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 * 4. Remove inner spacing in IE 7 without affecting normal text inputs.
 *    Known issue: inner spacing remains in IE 6.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */
}

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default;
}

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
   * It's recommended that you don't attempt to style these elements.
   * Firefox's implementation doesn't respect box-sizing, padding, or width.
   *
   * 1. Address box sizing set to `content-box` in IE 8/9/10.
   * 2. Remove excess padding in IE 8/9/10.
   * 3. Remove excess padding in IE 7.
   *    Known issue: excess padding remains in IE 6.
   */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome.
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  box-sizing: content-box;
  /* 2 */
  /**
   * Remove inner padding and search cancel button in Safari and Chrome on OS X.
   * Safari (but not Chrome) clips the cancel button when the search input has
   * padding (and `textfield` appearance).
   */
}

input[type="search"]::-webkit-search-cancel-button, input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em;
}

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 * 3. Correct alignment displayed oddly in IE 6/7.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto;
}

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold;
}

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

/* base */
html,
body {
  height: 100%;
  overflow-x: hidden;
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 500;
}

html {
  font-size: 62.5%;
  background: #eee;
}

h1 {
  font-size: 4rem;
  margin: 0 0 10px 0;
  font-weight: 600;
}

h2 {
  font-size: 2.2rem;
}

p {
  font-size: 1.6rem;
}

figure {
  margin: 0;
}

/* helpers */
.clearfix::after {
  clear: both;
  content: '';
  display: table;
}

.hide {
  display: none;
}

.show {
  display: none;
}

@-webkit-keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

@keyframes zoomIn {
  from {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  50% {
    opacity: 1;
  }
}

.zoomIn {
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: zoomIn;
  animation-name: zoomIn;
}

@-webkit-keyframes zoomOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 0;
  }
}

@keyframes zoomOut {
  from {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  to {
    opacity: 0;
  }
}

.zoomOut {
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: zoomOut;
  animation-name: zoomOut;
}

@-webkit-keyframes fadeOut {
  from {
    left: 0;
    opacity: 1;
  }
  to {
    left: 300px;
    opacity: 0;
  }
}

@keyframes fadeOut {
  from {
    left: 0;
    opacity: 1;
  }
  to {
    left: 300px;
    opacity: 0;
  }
}

.fadeOut {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeOut;
          animation-name: fadeOut;
}

@-webkit-keyframes fadeIn {
  from {
    left: -300px;
    opacity: 0;
  }
  to {
    left: 0px;
    opacity: 1;
  }
}

@keyframes fadeIn {
  from {
    left: -300px;
    opacity: 0;
  }
  to {
    left: 0px;
    opacity: 1;
  }
}

.fadeIn {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
  -webkit-animation-fill-mode: both;
          animation-fill-mode: both;
  -webkit-animation-name: fadeIn;
          animation-name: fadeIn;
}

.animated.bounceIn, .animated.bounceOut {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}

@-webkit-keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes bounceIn {
  from, 20%, 40%, 60%, 80%, to {
    -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
    animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.3, 0.3, 0.3);
    transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1);
    transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9);
    transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
    opacity: 1;
    -webkit-transform: scale3d(1.03, 1.03, 1.03);
    transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
    -webkit-transform: scale3d(0.97, 0.97, 0.97);
    transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
    opacity: 1;
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.bounceIn {
  -webkit-animation-duration: 0.7s;
  animation-duration: 0.7s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-name: bounceIn;
  animation-name: bounceIn;
}

.bounceIn.yes {
  -webkit-animation-delay: 200ms;
  animation-delay: 200ms;
}

.bounceIn.no {
  -webkit-animation-delay: 350ms;
  animation-delay: 350ms;
}

.container {
  height: 100%;
}

.container .device {
  margin: 0 auto;
  padding: 0;
  box-sizing: border-box;
  height: 100%;
}

@media only screen and (min-width: 1200px) {
  .container .device {
    background: url("../img/tablet.png");
    width: 1100px;
    height: 741px;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    padding: 67px 64px 66px 65px;
    position: relative;
  }
}

.container .device .screen {
  width: 100%;
  height: 100%;
  padding-top: 100px;
  box-sizing: border-box;
  padding: 100px 20px 20px 20px;
}

@media only screen and (min-width: 1200px) {
  .container .device .screen {
    position: relative;
  }
  .container .device .screen.scroll {
    overflow-y: scroll;
    box-sizing: border-box;
    padding: 100px 20px 20px 20px;
  }
  .container .device .screen.scroll .home {
    background: url("../svg/go-back.svg");
    position: absolute;
    top: 25px;
    right: 10px;
    width: 50px;
    height: 50px;
  }
}

@media only screen and (min-width: 0px) and (max-width: 479px) {
  .container .device .screen {
    padding: 100px 10px 20px 10px;
  }
}

.container .device .screen .apps {
  background: transparent;
  padding: 40px 140px;
}

.container .device .screen .apps .app-image {
  width: 80px;
  height: 80px;
  border-radius: 10px;
  margin: auto;
}

@media only screen and (min-width: 0px) and (max-width: 479px) {
  .container .device .screen .apps .app-image {
    width: 50px;
    height: 50px;
  }
}

.container .device .screen .apps .app-image.in-the-news {
  background: url("../svg/app-icons/inthenews.svg");
}

.container .device .screen .apps .app-image.in-the-news.checked {
  background: url("../svg/app-icons/checked.svg") no-repeat, url("../svg/app-icons/inthenews.svg") no-repeat;
}

.container .device .screen .apps .app-image.legislation {
  background: url("../svg/app-icons/legislation.svg");
}

.container .device .screen .apps .app-image.legislation.checked {
  background: url("../svg/app-icons/checked.svg") no-repeat, url("../svg/app-icons/legislation.svg") no-repeat;
}

.container .device .screen .apps .app-image.personal-risk-assesment {
  background: url("../svg/app-icons/assessment.svg");
}

.container .device .screen .apps .app-image.personal-risk-assesment.checked {
  background: url("../svg/app-icons/checked.svg") no-repeat, url("../svg/app-icons/assessment.svg") no-repeat;
}

.container .device .screen .apps .app-image.about {
  background: url("../svg/app-icons/about.svg");
}

.container .device .screen .apps .app-image.about.checked {
  background: url("../svg/app-icons/checked.svg") no-repeat, url("../svg/app-icons/about.svg") no-repeat;
}

.container .device .screen .apps .app-image.critical-thinking {
  background: url("../svg/app-icons/critical-thinking.svg");
}

.container .device .screen .apps .app-image.critical-thinking.checked {
  background: url("../svg/app-icons/checked.svg") no-repeat, url("../svg/app-icons/critical-thinking.svg") no-repeat;
}

.container .device .screen .apps .app-image.file-sharing {
  background: url("../svg/app-icons/file-sharing.svg");
}

.container .device .screen .apps .app-image.file-sharing.checked {
  background: url("../svg/app-icons/checked.svg") no-repeat, url("../svg/app-icons/file-sharing.svg") no-repeat;
}

.container .device .screen .apps .app-image.passwords {
  background: url("../svg/app-icons/passwords.svg");
}

.container .device .screen .apps .app-image.passwords.checked {
  background: url("../svg/app-icons/checked.svg") no-repeat, url("../svg/app-icons/passwords.svg") no-repeat;
}

.container .device .screen .apps .app-image.phishing {
  background: url("../svg/app-icons/phishing.svg");
}

.container .device .screen .apps .app-image.phishing.checked {
  background: url("../svg/app-icons/checked.svg") no-repeat, url("../svg/app-icons/phishing.svg") no-repeat;
}

.container .device .screen .apps .app-image.cyber-attack {
  background: url("https://www.innotechsummit.com/wp-content/uploads/2016/01/lock-cyber-security-80x80.jpg");
}

.container .device .screen .apps .app-image.cyber-attack.checked {
  background: url("../svg/app-icons/checked.svg") no-repeat, url("https://www.innotechsummit.com/wp-content/uploads/2016/01/lock-cyber-security-80x80.jpg") no-repeat;
}

.container .device .screen .apps .app-image.dos-and-donts {
  background: url("http://www.radio.net/inc/v2/images/landing/download-square.png");
}

.container .device .screen .apps .app-image.dos-and-donts.checked {
  background: url("../svg/app-icons/checked.svg") no-repeat, url("http://www.radio.net/inc/v2/images/landing/download-square.png") no-repeat;
}

@media only screen and (min-width: 0px) and (max-width: 479px) {
  .container .device .screen .apps {
    padding: 0px 0px;
  }
}

.container .device .screen .apps a.app {
  display: inline-block;
  vertical-align: top;
  margin: 0px 0px 40px 0px;
  cursor: pointer;
  text-decoration: none;
  width: 170px;
  height: 110px;
  vertical-align: top;
  text-align: center;
}

@media only screen and (min-width: 0px) and (max-width: 479px) {
  .container .device .screen .apps a.app {
    width: 75px;
    height: 100px;
    margin: 0px 0px 0px 0px;
  }
}

.container .device .screen .apps a.app .name {
  color: #fff;
  font-size: 1.4rem;
  margin-top: 5px;
  text-align: center;
}

@media only screen and (min-width: 0px) and (max-width: 479px) {
  .container .device .screen .apps a.app .name {
    font-size: 1.2em;
  }
}

.container .device .screen .apps a.app:hover {
  text-decoration: underline;
  color: #fff;
}

@media only screen and (min-width: 1200px) {
  .container .device .screen .apps {
    padding: 0 40px 80px 40px;
  }
}

@media only screen and (min-width: 992px) and (max-width: 1199px) {
  .container .device .screen .apps {
    padding: 40px 120px;
  }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .container .device .screen .apps {
    padding: 40px 80px;
  }
}

@media only screen and (min-width: 480px) and (max-width: 767px) {
  .container .device .screen .apps {
    padding: 40px 40px;
  }
}

.container .device .screen .logo {
  background: url("../svg/vw-logo.svg");
  position: absolute;
  bottom: 25px;
  right: 25px;
  width: 108px;
  height: 26px;
}

.container .device .screen .course-icon {
  background: url("../svg/course-icon.svg");
  position: absolute;
  top: 25px;
  left: 25px;
  width: 50px;
  height: 50px;
}

.container .device .screen .home {
  background: url("../svg/go-back.svg");
  position: absolute;
  top: 25px;
  left: 25px;
  width: 50px;
  height: 50px;
}

.index .container {
  background: url("../img/background.jpg");
  background-size: cover;
}

@media only screen and (min-width: 1200px) {
  .index .container {
    background: none;
  }
}

@media only screen and (min-width: 1200px) {
  .index .container .device .screen-background {
    background: url("../img/background.jpg");
    background-size: cover;
    height: 100%;
  }
}

@media only screen and (min-width: 1200px) {
  .in_the_news .screen-background {
    background: url("../img/background.jpg");
    background-size: cover;
    height: 100%;
  }
}

.in_the_news .screen-background .screen {
  background: #fff;
}

.in_the_news .screen-background .screen .app-content {
  margin-right: 210px;
  margin-left: 100px;
}

@media only screen and (min-width: 0px) and (max-width: 479px) {
  .in_the_news .screen-background .screen .app-content {
    margin: 0px;
  }
}

.in_the_news .screen-background .screen .app-content .by {
  color: #757575;
  font-size: 1.6rem;
  font-weight: 300;
  margin-bottom: 10px;
}

.in_the_news .screen-background .screen .app-content .name {
  color: #ff9406;
}

.in_the_news .screen-background .screen .app-content figure {
  width: 70%;
}

.in_the_news .screen-background .screen .app-content figure img {
  width: 100%;
  display: block;
}

.in_the_news .screen-background .screen .app-content figure figcaption {
  display: block;
  width: 100%;
  background: #000;
  color: #fff;
  font-size: 1.4em;
  padding: 10px;
  box-sizing: border-box;
  margin-top: -1px;
}

@media only screen and (min-width: 1200px) {
  .legislation .screen-background {
    background: url("../img/background.jpg");
    background-size: cover;
    height: 100%;
  }
}

.legislation .screen-background .screen {
  background: #fff;
}

.legislation .screen-background .screen .app-content {
  margin-right: 80px;
  margin-left: 80px;
}

@media only screen and (min-width: 0px) and (max-width: 479px) {
  .legislation .screen-background .screen .app-content {
    margin-right: 5px;
    margin-left: 5px;
  }
}

.legislation .screen-background .screen .app-content h1 {
  color: #00b3ea;
}

@media only screen and (min-width: 0px) and (max-width: 479px) {
  .legislation .screen-background .screen .app-content h1 {
    font-size: 2.5em;
  }
}

.legislation .screen-background .screen .app-content h2 {
  color: #00b3ea;
  font-weight: 300;
  font-size: 2rem;
}

.legislation .screen-background .screen .app-content h3 {
  color: #00b3ea;
  font-weight: 700;
  font-size: 1.8rem;
}

.personal_risk_assesment .screen-background {
  height: 100%;
  background: url("../img/background.jpg");
}

.personal_risk_assesment .screen-background .screen {
  background: #1aed84;
  transition: background-color 1000ms linear;
}

.personal_risk_assesment .screen-background .screen.color1 {
  background: #1aed84;
}

.personal_risk_assesment .screen-background .screen.color1 .risk-level,
.personal_risk_assesment .screen-background .screen.color1 .answer:hover {
  color: #1aed84 !important;
}

.personal_risk_assesment .screen-background .screen.color2 {
  background: #56e961;
}

.personal_risk_assesment .screen-background .screen.color2 .risk-level,
.personal_risk_assesment .screen-background .screen.color2 .answer:hover {
  color: #56e961 !important;
}

.personal_risk_assesment .screen-background .screen.color3 {
  background: #92e53e;
}

.personal_risk_assesment .screen-background .screen.color3 .risk-level,
.personal_risk_assesment .screen-background .screen.color3 .answer:hover {
  color: #92e53e !important;
}

.personal_risk_assesment .screen-background .screen.color4 {
  background: #c7e11f;
}

.personal_risk_assesment .screen-background .screen.color4 .risk-level,
.personal_risk_assesment .screen-background .screen.color4 .answer:hover {
  color: #c7e11f !important;
}

.personal_risk_assesment .screen-background .screen.color5 {
  background: #fcda01;
}

.personal_risk_assesment .screen-background .screen.color5 .risk-level,
.personal_risk_assesment .screen-background .screen.color5 .answer:hover {
  color: #fcda01 !important;
}

.personal_risk_assesment .screen-background .screen.color6 {
  background: #f7a011;
}

.personal_risk_assesment .screen-background .screen.color6 .risk-level,
.personal_risk_assesment .screen-background .screen.color6 .answer:hover {
  color: #f7a011 !important;
}

.personal_risk_assesment .screen-background .screen.color7 {
  background: #f36920;
}

.personal_risk_assesment .screen-background .screen.color7 .risk-level,
.personal_risk_assesment .screen-background .screen.color7 .answer:hover {
  color: #f36920 !important;
}

.personal_risk_assesment .screen-background .screen.color8 {
  background: #ee352e;
}

.personal_risk_assesment .screen-background .screen.color8 .risk-level,
.personal_risk_assesment .screen-background .screen.color8 .answer:hover {
  color: #ee352e !important;
}

.personal_risk_assesment .screen-background .screen.color9 {
  background: #ea033c;
}

.personal_risk_assesment .screen-background .screen.color9 .risk-level,
.personal_risk_assesment .screen-background .screen.color9 .answer:hover {
  color: #ea033c !important;
}

.personal_risk_assesment .screen-background .screen.color10 {
  background: #ea003d;
}

.personal_risk_assesment .screen-background .screen.color10 .risk-level,
.personal_risk_assesment .screen-background .screen.color10 .answer:hover {
  color: #ea003d !important;
}

.personal_risk_assesment .screen-background .screen .app-content {
  text-align: center;
}

.personal_risk_assesment .screen-background .screen .app-content h1 {
  margin-top: 80px;
  margin-bottom: 30px;
}

@media only screen and (min-width: 0px) and (max-width: 479px) {
  .personal_risk_assesment .screen-background .screen .app-content h1 {
    margin-top: 0;
  }
}

.personal_risk_assesment .screen-background .screen .app-content .question {
  font-size: 3rem;
  font-weight: 500;
  position: relative;
  overflow: hidden;
}

@media only screen and (min-width: 0px) and (max-width: 479px) {
  .personal_risk_assesment .screen-background .screen .app-content .question {
    font-size: 2.5rem;
  }
}

.personal_risk_assesment .screen-background .screen .app-content .question span {
  position: relative;
}

.personal_risk_assesment .screen-background .screen .app-content .answer {
  font-size: 5rem;
  display: inline-block;
  border: 3px solid #FFF;
  border-radius: 10px;
  padding: 10px;
  color: #fff;
  width: 20%;
  margin: 50px 10% 0px 10%;
  cursor: pointer;
  transition: 0.4s ease;
}

@media only screen and (min-width: 0px) and (max-width: 479px) {
  .personal_risk_assesment .screen-background .screen .app-content .answer {
    font-size: 3.5rem;
  }
}

.personal_risk_assesment .screen-background .screen .app-content .answer:hover {
  background: #fff;
  transition: 0.4s ease;
  color: #1aed84;
}

.personal_risk_assesment .screen-background .screen .app-content .summary .risk-level {
  background: url("../svg/risk-assessment-score.svg");
  width: 168px;
  height: 168px;
  margin: 0 auto 20px auto;
}

@media only screen and (min-width: 0px) and (max-width: 479px) {
  .personal_risk_assesment .screen-background .screen .app-content .summary .risk-level {
    width: 100px;
    height: 100px;
    background-size: cover;
  }
}

.personal_risk_assesment .screen-background .screen .app-content .summary .risk-level .text {
  font-size: 3rem;
  box-sizing: border-box;
  padding-top: 50px;
  margin-bottom: -5px;
}

@media only screen and (min-width: 0px) and (max-width: 479px) {
  .personal_risk_assesment .screen-background .screen .app-content .summary .risk-level .text {
    font-size: 1.8rem;
    padding-top: 30px;
  }
}

.personal_risk_assesment .screen-background .screen .app-content .summary .risk-level .num {
  font-size: 5rem;
  font-weight: 700;
}

@media only screen and (min-width: 0px) and (max-width: 479px) {
  .personal_risk_assesment .screen-background .screen .app-content .summary .risk-level .num {
    font-size: 2.9rem;
  }
}

.personal_risk_assesment .screen-background .screen .app-content .summary .score {
  font-size: 3rem;
  padding-bottom: 20px;
}

@media only screen and (min-width: 0px) and (max-width: 479px) {
  .personal_risk_assesment .screen-background .screen .app-content .summary .score {
    font-size: 1.8rem;
    padding-bottom: 15px;
  }
}

.personal_risk_assesment .screen-background .screen .app-content .summary .sum-up {
  font-size: 2rem;
  text-align: left;
  padding: 0 15%;
}

@media only screen and (min-width: 0px) and (max-width: 479px) {
  .personal_risk_assesment .screen-background .screen .app-content .summary .sum-up {
    font-size: 1.2rem;
    padding: 0 5px;
  }
}

.personal_risk_assesment .q2, .personal_risk_assesment .q3, .personal_risk_assesment .q4, .personal_risk_assesment .q5, .personal_risk_assesment .q6, .personal_risk_assesment .q7, .personal_risk_assesment .q8, .personal_risk_assesment .q9, .personal_risk_assesment .q10, .personal_risk_assesment .summary {
  display: none;
}

.cyber_attack .screen-background {
  background: #152B59;
}

.cyber_attack .screen-background .screen {
  color: #fff;
}

.cyber_attack .screen-background .screen .app-content {
  padding: 0 60px;
}

.cyber_attack .screen-background .screen .app-content h1 {
  color: #FF7F00;
}

.cyber_attack .screen-background .screen .app-content .laptop {
  background: url("../svg/laptop.svg");
  width: 242px;
  height: 138px;
  margin: 100px auto 40px auto;
  position: relative;
}

.cyber_attack .screen-background .screen .app-content .laptop .bubble {
  background: #2ebfff;
  color: #fff;
  padding: 25px;
  border-radius: 10px;
  position: absolute;
  font-size: 1.4em;
}

.cyber_attack .screen-background .screen .app-content .laptop .bubble.bubble1 {
  top: -40px;
  left: -280px;
  width: 230px;
}

.cyber_attack .screen-background .screen .app-content .laptop .bubble.bubble2 {
  top: -10px;
  left: 250px;
  width: 240px;
}

.dos_and_donts .screen-background {
  background: #05002A;
}

@media only screen and (min-width: 1200px) {
  .dos_and_donts .screen-background {
    height: 100%;
  }
}

.dos_and_donts .screen-background .screen .app-content h1 {
  color: #45bdff;
  font-size: 5rem;
  text-align: center;
  text-shadow: 0px 0px 3px rgba(176, 233, 255, 0.75);
}

.dos_and_donts .screen-background .screen .app-content h2 {
  color: #45bdff;
  font-size: 4rem;
  text-shadow: 0px 0px 3px rgba(176, 233, 255, 0.75);
}

.dos_and_donts .screen-background .screen .app-content ul li {
  color: #bbf2ff;
  font-size: 2rem;
  text-shadow: 0px 0px 2px 176, 233, 255, 0.4;
  padding-bottom: 20px;
}

.dos_and_donts .screen-background .screen .app-content ul li strong {
  color: #45bdff;
}

/*# sourceMappingURL=style.css.map */